@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.gallery.background');
  color: white;
}
